$primary-color: #3e9dd4;
$secondary-color: #d43e53;
$tertiary-color: #93d43e;

$dark-grey: #252525;
$medium-grey: hsl(0, 0%, 50%);
$medium-light-grey: hsl(0, 0%, 75%);
$light-grey: hsla(0, 0%, 0%, 0.03%);
$white: #fff;
$pure-white: #fff;
