@import "@/styles/_colors.scss";
@import "@/styles/_sizes.scss";
@import "@/styles/_typography.scss";

@mixin call-to-action {
	display: block;
	border: 2px solid $white;
	@include primary-header-font;
	text-decoration: none;
	text-align: center;
	width: 100%;
	&:hover {
		color: $accent-color;
		border: 2px solid $accent-color;
	}
}

@mixin grid {
	display: grid;
	column-gap: $gutter;
}
