@import '@/styles/_colors.scss';
@import '@/styles/_sizes.scss';
@import '@/styles/_typography.scss';

$thin-border-width: 1px;
$medium-border-width: 3px;

@mixin call-to-action {
	@include primary-header-font;
	background: none;
	border: 2px solid $white;
	display: block;
	padding: $baseline / 2;
	text-decoration: none;
	text-align: center;
	width: 100%;
	&:hover {
		border: 2px solid $accent-color;
		color: $accent-color;
	}
}

@mixin grid {
	column-gap: $gutter;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(6, 1fr);
	@media (max-width: $small-breakpoint) {
		grid-template-columns: 1fr;
	}
}

@mixin grid-heading {
	grid-column: 1 / span 6;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin grid-full-width {
	grid-column: 1 / span 6;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin grid-cta {
	grid-column: 3 / span 3;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin grid-text-0 {
	grid-column: 1 / span 2;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}
@mixin grid-text-1 {
	grid-column: 1 / span 2;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}
@mixin grid-text-2 {
	grid-column: 1 / span 3;
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin grid-form {
	grid-column: 2 / span 3;
	@media (max-width: $medium-breakpoint) {
		grid-column: 3 / span 5;
	}
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin grid-countdown {
	grid-column: 6 / span 1;
	@media (max-width: $medium-breakpoint) {
		grid-column: 6 / span 1;
	}
	@media (max-width: $small-breakpoint) {
		grid-column: 1;
	}
}

@mixin plus-grid {
	background: url('/img/plus_black.png');
	background-repeat: repeat;
	background-size: 20px 20px;
	position: relative;
	&.red {
		background: url('/img/plus_red.png');
		background-repeat: repeat;
		background-size: 20px 20px;
		position: relative;
	}
}
