/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Custom
@import "_sizes";
@import "_colors.scss";
@import "_typography.scss";
@import "_general.scss";

h2 {
	@include primary-header-font;
	@include grid-heading;
	border-bottom: 1px solid $white;
	margin-bottom: $baseline;
}
h3 {
	font-weight: 700;
	margin-bottom: $baseline / 2;
}

a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}

p {
	margin-bottom: $baseline;
}

* {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

body, textarea, select, input {
	@include body-font;
}

body {
	background-color: $black;
	color: $white;
}

input, textarea {
	display: block;
	border: 2px solid $white;
	background-color: $black;
	color: $white;
	padding: $baseline;
	margin-bottom: $baseline / 2;
	&::placeholder {
		color: $white;
	}
}

.responsive-iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	margin-bottom: 3rem;
	.responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.error {
	color: hsl(0, 70%, 50%);
	font-weight: 700;
}
