$gutter: 10px;
$baseline: 20px;

$max-line-length: 40rem;
$max-width: 1600px;
$transition: 0.2s;

$small-breakpoint: 600px;
$medium-breakpoint: 1000px;

$mobile-header-size: 125px;
$mobile-footer-size: 75px;
