@import "_sizes";

@font-face {
	font-family: DVLP;
	src: url("~@/assets/fonts/DVLPOCR.otf") format("opentype");
}
@font-face {
	font-family: TStar;
	src: url("~@/assets/fonts/TSTAR-PRO-Regular.otf") format("opentype");
}

@mixin body-font {
    font-family: TStar, sans-serif;
    font-size: 20px;
}

@mixin primary-header-font {
	font-family: DVLP;
    font-size: 36px;
	line-height: 1.5;
}

body {
	@include body-font;
}
