@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700");
@import "_sizes";

body {
	font-family: "Montserrat", sans-serif;
}

@mixin link-font {
	font-weight: 100;
	font-size: $baseline;
	text-transform: lowercase;
}

@mixin footer-link-font {
	font-weight: 400;
	font-size: $baseline;
}

@mixin secondary-header-font {
	font-weight: 700;
	font-size: $xxl;
	letter-spacing: $small;
	line-height: $xxl;
	text-transform: uppercase;
	@media (max-width: $large-breakpoint){
		font-size: $large;
		line-height: $large;
	}
}

@mixin tertiary-header-font {
	font-weight: 700;
	font-size: $baseline;
	letter-spacing: $small;
	line-height: $large;
	text-transform: uppercase;
}

@mixin section-header-font {
	font-weight: 700;
	font-size: $large;
	text-transform: uppercase;
	margin-bottom: $baseline;
}

@mixin call-to-action-font {
	font-weight: 700;
	font-size: $baseline;
	text-transform: uppercase;
}

@mixin body-font {
	font-weight: 400;
	font-size: $baseline;
	letter-spacing: 3px;
	line-height: $baseline + $small;
	max-width: $max-line-length;
	@media (max-width: $large-breakpoint){
		letter-spacing: 0;
	}
}
